/* ================================================================

base

================================================================ */;

html {
  font-size: 14px;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
}
body {
  color:#000;
  background:#fff;
	font-family: YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','Noto Sans Japanese',Meiryo,メイリオ,'MS PGothic',Osaka, arial,helvetica,sans-serif;
  // font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  -webkit-text-size-adjust: none;
  font-size: 14px;
  line-height: 1.7;
  overflow: hidden;
}

img{
  max-width: 100%;
}
a{
  text-decoration: none;
  color: #000;
}
.wrap{
  margin-left: auto;
  margin-right: auto;
}
.inner{
  width: 1280px;
  margin: 0 auto;
}
.display-none{
  display: none;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  body{
    font-family: Meiryo,メイリオ,YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','Noto Sans Japanese','MS PGothic',Osaka, arial,helvetica,sans-serif;
  }
}
@media screen and (min-width: 769px) {
	.only-sp { display: none; }
}
@media screen and (max-width: 768px) {
	.only-pc { display: none; }
}

@media screen and (max-width: 768px) {
  .inner{
    width: 92%;
  }
}

.txt-center{
  text-align: center;
}
.mt10{ margin-top: 10px; }
.mt20{ margin-top: 20px; }
.mt30{ margin-top: 30px; }
.mt40{ margin-top: 40px; }
.mt50{ margin-top: 50px; }

/* ================================================================
module
================================================================ */


/* ================================================================
clearfix
================================================================ */
.clearfix:after{ content : ''; display : block; clear : both; }