/* ================================================================

base

================================================================ */;

html {
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
}
body {
  color:#333;
  background:#fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','Noto Sans Japanese',Meiryo,メイリオ,'MS PGothic',Osaka, arial,helvetica,sans-serif;
  -webkit-text-size-adjust: none;
  line-height: 1.7;
  overflow: hidden;
}

.inner{
  width: 1280px;
  margin: 0 auto;
}
.display-none{
  display: none;
}
@media screen and (min-width: 769px) {
	.only-sp { display: none; }
}
@media screen and (max-width: 768px) {
	.only-pc { display: none; }
}
@media screen and (max-width: 768px) {
  .inner{
    width: 92%;
  }
}

/* ================================================================
clearfix
================================================================ */
.clearfix:after{ content : ''; display : block; clear : both; }