$sp:  "only screen and (max-width:768px)";




@media #{$sp} {
body{
	min-height: 100%;
	height: 100%;
	
}
.loading-top{
	width: 100%;
	height: 50%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
	z-index: 999999;
	animation-name: fade-out;
	animation-delay: 2.3s;
    animation-duration: 0.7s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}
.loading-bottom{
	width: 100%;
	height: 50%;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #000;
	z-index: 999999;
	animation-name: fade-out;
	animation-delay: 2.3s;
    animation-duration: 0.7s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}
.wrap{
	display: none;
}
.contents{
	padding-top: 35px;
	padding-bottom: 35px;
}

nav.nav{
	text-align: center;
	// margin-top: 70px;
	border-top: 1px solid #fff;
	
	li{
		
		border-bottom: 1px solid #fff;
		&:hover{
			background-color: #444;
		}
	}
	a{
		color: #fff;
		font-size: 1.8rem;
		display: block;
	}

}
.nav-box{
	width: 50px;
	height: 50px;
	background-color: #fff;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: auto;
}
.menu {
	width: 35px;
	height: 30px;
	top: 21px;
	right: 20px;
	position: fixed;
	cursor: pointer;
	overflow: hidden;
	z-index: 999999;
}
.menu1 {
	width: 25px;
	height: 2px;
	background-color: #333;
	top: 5px;
	left: 5px;
	position: absolute;
}
.menu2 {
	width: 25px;
	height: 2px;
	background-color: #333;
	top: 14px;
	left: 5px;
	position: absolute;
}
.menu3 {
	width: 25px;
	height: 2px;
	background-color: #333;
	top: 23px;
	left: 5px;
	position: absolute;
}
.menu1, .menu2, .menu3 {
	transition: all 0.5s ease-out;
}
.menuclick1 {
	top: 13px;
	transform: rotate(405deg);
	background-color: #fff;
}

.menuclick2 {
	background-color: rgba(255, 255, 255, 0);
}

.menuclick3 {
	top: 13px;
	transform: rotate(-405deg);
	background-color: #fff;
}


.nav-spbox{
	padding-top: 60px;
	background-color: #000;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	right: -100%;
	z-index: 9999;
	transition: .4s;
	.nav-menu{
		// display: none;
	}
	.logo{
		margin: 10px;
		text-align: left;
		img{
			max-width: 290px;
		}
	}
}
.nav-spbox-on{
	right: 0!important;
}
// .nav-spbox{
// 	left: -100%;
// }

.header{
	width: 100%;
	background-color: #fff;
	padding: 15px 0;
	transition: .2s;
	z-index: 99999;

}
.header-logo{
	// margin-top: 45px;
	float: left;
	margin-top: 5px;
	img{
		max-width: 150px;
	}
}

.nav{
	margin-top: 7px;
}
.nav-menu{
	overflow: hidden;
	li{
		// width: 120px;
		
		text-align: center;
		font-size: 1.5rem;
		a{
			display: inline-block;
			width: 100%;
			height: 100%;
			padding: 15px 20px;
		}
	}
}

.snsbox{
	margin-top: 20px;
	overflow: hidden;
	ul{
		width: 200px;
		margin: 0 auto;
		padding: 15px 0;
		display: flex;
		justify-content: space-between;
	}
	li{
		padding: 0 10px;
		
		img{
			max-width: 40px;
		}
		a{	
			width: 40px;
			height: 40px;
			display: block;
			border-radius: 20px;
			text-align: center;
			padding-top: 6px;
			// margin: 0 7px;
			background-color: #fff;
			transition: 0.2s ease-out;
			&:hover{
    			transform: rotateZ(360deg);
			}
		}
	}
	.fa-facebook,
	.fa-instagram,
	.fa-twitter{
		color: #000;
	}
	.facebook{
		&:hover{
			background-color: #3b5998;
		}
	}
	.instagram{
		&:hover{
			background-color: #3f729b;
		}
	}
	.twitter{
		&:hover{
			background-color: #00b0ed;
		}
	}

}

.main{
	background: url(../img/mainvisualPhoto.jpg) top right no-repeat;
	background-size: 100%;
	padding: 150px 0 0 0;
	margin-top: 72px;
	opacity: .0;
	transform: translate(0px,80px);  
}
.scrl{
	transition: .3s;
	padding: 25px 0;
}
.main-txt01{
	font-weight: bold;
	font-size: 3.5rem;
	line-height: 1.2;
	font-family: Avenir;
	opacity: 0;
}
.main-txt02{
	font-weight: bold;
	font-size: 1.8rem;
	margin-top: 10px;
	line-height: 1.5;
	font-family: Avenir;
	line-height: 2;
	opacity: 0;
}

.aboutus{
	margin-top: 75px;
	
}
.aboutus-bgclor{
	background : linear-gradient(transparent 50%, #efefef 50%);
	.inner{
		width: 100%;
	}
}
.aboutus-tit01{
	text-align: center;
	font-weight: bold;
	font-size: 2.5rem;
}
.aboutus-tit02{
	text-align: center;
	font-weight: bold;
	font-size: 1.2rem;
}
.aboutus-img{
	img{
		
	}
}
.aboutus-wrap{
	// padding: 40px 90px;
	padding-top: 60px;
	margin-top: 30px;
	padding-bottom: 80px;
	background: url(../img/aboutusPhoto.jpg) top right no-repeat;
	background-size: 100%;
	figure{
		display: none;
	}
	
}
.aboutus-content{
	width: 92%;
	margin: 0 auto;
	padding: 20px 15px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.12);
	background-color: #fff;
	color: #333;
	// position: absolute;
	// top: 0;
	// left: 0;
}
.aboutus-content-tit{
	text-align: center;
	font-weight: bold;
	font-size: 2.5rem;
	color: #333;
}
.aboutus-content-txt{
	margin-top: 20px;
	font-size: 1.6rem;
}
.aboutus-support{
	background: url(../img/servicePhoto.jpg) top right no-repeat;
	background-size: 100%;
	overflow: hidden;
	padding-top: 50px;
	padding-bottom: 30px;
	.inner{
		width: 100%;
	}
}
.aboutus-support-content{
	width: 92%;
	margin: 0 auto;
	padding: 20px 15px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.12);
	background-color: #fff;
	color: #333;
}
.aboutus-support-tit01{
	text-align: center;
	font-weight: bold;
	font-size: 2.5rem;
	color: #333;
}
.aboutus-support-tit02{
	text-align: center;
	font-weight: bold;
	font-size: 1.3rem;
	color: #333;
}
.aboutus-support-txt{
	margin-top: 20px;
	font-size: 1.6rem;
	line-height: 1.7;
}
.aboutus-support-list{
	width: 100%;
	// margin-right: 100px;
	margin-top: 40px;
	padding-top: 40px;
	line-height: 1;

	figure{
		text-align: center;
		margin-bottom: 10px;
		img{
			max-width: 60px;
		}
	}
	ul{
		overflow: hidden;
		padding: 3% 4% 4% 4%;
		// padding: 1%;
	}
	li{
		text-align: center;
		font-size: 1.5rem;
		font-weight: bold;
		background-size: 30%;
		transition: .2s;
		background-color: #fff;
		box-shadow: 0 10px 20px rgba(0,0,0,0.12);
		// margin: 1% 2%;
		color: #333;
		width: 49.0%;
		max-width: 350px;
		
		a{
			transition: .2s;
			display: block;
			width: 100%;
			height: 185px;
			padding-top: 125px;
			&:hover{
				color: #fff;
			}
			
		}
	}
	.list01{
		background: #fff url(../img/serviceIcon01_off.png) center 35% no-repeat;
		background-size: 30%;
		&:hover{
			background: #fff url(../img/serviceIcon01_on.png) center 35% no-repeat;
			background-size: 30%;
			background-color: #000;	
		}
	}
	.list02{
		background: #fff url(../img/serviceIcon02_off.png) center 35% no-repeat;
		background-size: 30%;
		&:hover{
			background: #fff url(../img/serviceIcon02_on.png) center 35% no-repeat;
			background-size: 30%;
			background-color: #000;
		}
	}
	.list03{
		background: #fff url(../img/serviceIcon03_off.png) center 35% no-repeat;
		background-size: 35%;
		&:hover{
			background: #fff url(../img/serviceIcon03_on.png) center 35% no-repeat;
			background-size: 35%;
			background-color: #000;
		}
	}
	.list04{
		background: #fff url(../img/serviceIcon04_off.png) center 35% no-repeat;
		background-size: 35%;
		&:hover{
			background: #fff url(../img/serviceIcon04_on.png) center 35% no-repeat;
			background-size: 35%;
			background-color: #000;
		}
	}
	.list01,.list02{
		// margin-bottom: 2px;
	}
	.list01,.list03{
		float: left;
	}
	.list03{
		clear: both;
	}
	.list02,.list04{
		float: right;
		margin-right: 2px;
	}
	.list03,.list04{
		margin-top: 10px;
	}
}



.news{
	margin-top: 30px;
}
.news-bgclor{
	background : linear-gradient(transparent 50%, #efefef 50%);
}
.news-tit01{
	text-align: center;
	font-weight: bold;
	font-size: 2.5rem;
}
.news-tit02{
	text-align: center;
	font-weight: bold;
	font-size: 1.2rem;
}
.news-attention{
	width: 100%;
	margin: 0 auto;
	margin-top: 30px;
}
.news-attention-tit01{
	font-size: 2.0rem;
	font-weight: bold;
	margin-left: 10px;
}
.news-attention-list{
	margin-top: 20px;
	li{
		width: 92%;
		margin: 0 auto;
		margin-top: 10px;
	}
}
.rank-img{
	position: absolute;
	top: 4px;
	left: -10px;
	img{
		max-width: 100px;
	}
}
.news-attention-list-tit{
	width: 100%;
	font-size: 1.8rem;
	color: #fff;
	font-weight: bold;
	padding: 10px 14px;
	position: absolute;
	bottom: 0;
	left: 0;
	background : linear-gradient(rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.6) 50px, rgba(0,0,0,1) 100%);
}
.news-article-list{
	width: 92%;
	margin: 0 auto;
	margin-top: 67px;
	padding-bottom: 3px;
	li{
		width: 98%;
		background-color: #fff;
		box-shadow: 0 10px 20px rgba(0,0,0,0.12);
		figure{
			width: 100%;
			height: 35%;
			max-height: 240px;
			overflow: hidden;

			img{
				width: 100%;
				height: auto;
				vertical-align: middle;
			}
		}
		&:nth-child(2),&:nth-child(3),&:nth-child(4){
			margin-top: 20px;
		}
	}
}
.news-article-list01,.news-article-list03{
	
}
.news-article-list02,.news-article-list04{
}
.news-article-list02,.news-article-list03,.news-article-list04{
	margin-top: 20px;
}
.news-article-list-content{
	width: 100%;
	padding: 10px;
}
.news-article-list-category{
	width: 86px;
	border-radius: 20px;
	text-align: center;
	padding: 2px 10px;
	font-size: 1.4rem;
	font-weight: bold;
	a{
		color: #fff;
	}
}
.news-article-link{
	margin-top: 30px;
}
.category-news{
	background-color: #35495F;
}
.category-interesting{
	background-color: #A571BD;
}
.category-gourmet{
	background-color: #259F83;
}
.category-marketing{
	background-color: #DC7837;
	width: 115px!important;
}
.news-article-list-date{
	margin-top: 5px;
	font-size: 1.4rem;
	color: #666;
	padding-left: 5px;
}
.news-article-list-tit{
	font-size: 1.6rem;
	font-weight: bold;
	margin-top: 5px;
}
.news-article-list-writer{
	font-size: 1.4rem;
	font-weight: bold;
	margin-top: 5px;
	margin-left: 3px;
}

.recruit{
	margin-top: 70px;
	
}
.recruit-bgclor{
	background : linear-gradient(transparent 50%, #efefef 50%);
	.inner{
		width: 100%;
	}
}
.recruit-tit01{
	text-align: center;
	font-weight: bold;
	font-size: 2.5rem;
}
.recruit-tit02{
	text-align: center;
	font-weight: bold;
	font-size: 1.2rem;
}
.recruit-img{
	img{
		max-width: 100%;
	}
}
.recruit-wrap{
	
	padding-top: 60px;
	margin-top: 30px;
	padding-bottom: 30px;
	background: url(../img/recruitPhoto.jpg) top right no-repeat;
	background-size: 100%;
	figure{
		display: none;
	}
}
.recruit-content{
	width: 92%;
	margin: 0 auto;
	padding: 20px 15px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.12);
	background-color: #fff;
	color: #333;
}
.recruit-content-tit{
	text-align: center;
	font-weight: bold;
	font-size: 2.5rem;
	color: #333;
}
.recruit-content-txt{
	margin-top: 30px;
	font-size: 1.6rem;
}


.consultation{
	color: #fff;
	background: url(../img/consultingPhoto.jpg) center center no-repeat;
	background-size: cover;
	padding: 30px 0;
	.btn-style{
		width: 300px;
 		margin: 0 auto;
		a,span{
			font-size: 2.0rem;
			margin-top: 40px;
			color: #fff;
			border: 2px solid #fff;
			font-weight: bold;
		}
	}
}
.consultation-tit{
	padding-top: 10px;
	font-size: 2.3rem;
	font-weight: bold;
	text-align: center;
	position: relative;
	&:after{
		content: "";
		display: block;
		width: 70px;
		border-top: 1px solid #fff;
		position: absolute;
		bottom: -25px;
		left: 50%;
		margin-left: -35px;
	}
}
.consultation-txt{
	margin-top: 50px;
	font-size: 1.3rem;
	text-align: center;
}
.consultation-btn{
	margin: 0 auto;
	margin-top: 20px;
	width: 70%;
	max-width: 400px;
	
	a{
		font-size: 1.7rem!important;
		width: 100%!important;
		padding: 10px 10px;
	}
}

.service{
	padding: 30px 10px;
}
.service-list{
	// display: flex;
	// justify-content: space-between;

	a{
		padding-top: 110px;
		text-align: center;
		color: #fff;
		display: block;
		width: 100%;
		height: 100%;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 300px;
			background: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)); /* 円形グラデーション */
			transition-duration: 0.3s;
			opacity: 0; /* 見えないように透過しておく */
		}
		&:hover:before {
			opacity: 1; /* マウスオーバーで可視化 */
		}
	}
	li{
		width: 100%;
		height: 300px;
		background-size: 100%;
		overflow: hidden;
		transition: 0.3s;
		margin-top: 30px;
		&:first-child{
			margin-top: 0;
		}
		&:hover{
			// opacity: 1;
			// transform: scale(1.1);
			// animation: flash 1.5s;
		}

		
	}
}
.service-list-en{
	font-weight: bold;
	font-size: 2.2rem
}
.service-list-jp{
	font-weight: bold;
	font-size: 1.4rem
}
.consul{
	background: url(../img/company/servicePhoto01.jpg) center center no-repeat;
}
.produce{
	background: url(../img/company/servicePhoto02.jpg) center center no-repeat;
}
.online{
	background: url(../img/company/servicePhoto03.jpg) center center no-repeat;
}
.social{
	background: url(../img/company/servicePhoto04.jpg) center center no-repeat;
}
@keyframes flash {
    0% {
        opacity: .7;
    }
    100% {
        opacity: 1;
    }
}


.footer{
	background: url(../img/footerBg.png) center center no-repeat;
	background-size: cover;
	color: #fff;
	a{
		color: #fff;
	}
	
	.footer-in{
		width: 100%;
		margin: 0 auto;
		padding: 10px 0;
	}

	.footer-info,
	.footer-nav,
	.footer-business,
	.footer-sns{
		width: 100%;
		padding: 20px 0;
	}
	.footer-nav,
	.footer-business,
	.footer-sns{
		padding: 30px 0;
		// border-top: 1px solid #fff;
	}
	.footer-info{
		img{
			max-width: 268px;
		}
	}
	.footer-info-address{
		margin-top: 20px;
	}
	.footer-nav{
		// text-align: center;
		li{
			a{
				display: block;
				padding: 15px;
				position: relative;
				&:after {
					content: "\f105";
					font-family: FontAwesome;
					position: absolute;
					top: 6px;
					right: 20px;
					font-size: 2.5rem;
					font-weight: 100;
				}
				
			}
			&:first-child{
				border-top:  1px solid #fff;
			}
			border-bottom: 1px solid #fff;
		}
		
		font-weight: bold;
	}
	.footer-sns{
		ul{
			display: flex;
			justify-content: center;
		}
		li{
			
			text-align: center;
			a{	
				width: 40px;
				height: 40px;
				display: block;
				border-radius: 20px;
				text-align: center;
				padding-top: 6px;
				margin: 0 7px;
				background-color: #333;
				transition: 0.2s ease-out;
				&:hover{
					transform: rotateZ(360deg);
				}
			}
		}
		.facebook{
			&:hover{
				background-color: #3b5998;
			}
		}
		.instagram{
			&:hover{
				background-color: #3f729b;
			}
		}
		.twitter{
			&:hover{
				background-color: #00b0ed;
			}
		}
	}

	.copyright{
		text-align: center;
		margin-top: 40px;
		font-size: 1.7rem;
		color: #fff;
	}

}



}
