@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
 一部改定
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #333333;
  font-size: 14px;
  line-height: 1.6;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Hiragino Kaku Gothic ProN', '游ゴシック Medium', meiryo, sans-serif;
}

/* IE10以下 */
@media all and (-ms-high-contrast: none) {
  body {
    font-family: 'Helvetica Neue', 'Hiragino Kaku Gothic ProN', meiryo, sans-serif;
  }
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, time, main {
  display: block;
}

nav, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: #333;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, select {
  vertical-align: middle;
}

input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

address {
  font-style: normal;
}

/* utility */
.u-ms {
  margin: 5px;
}

.u-mm {
  margin: 10px;
}

.u-ml {
  margin: 15px;
}

.u-ml2 {
  margin: 20px;
}

.u-ml3 {
  margin: 25px;
}

.u-ml4 {
  margin: 30px;
}

.u-ml5 {
  margin: 35px;
}

.u-ml6 {
  margin: 40px;
}

.u-m50 {
  margin: 50px;
}

.u-m60 {
  margin: 60px;
}

.u-m70 {
  margin: 70px;
}

.u-m80 {
  margin: 80px;
}

.u-mts {
  margin-top: 5px;
}

.u-mtm {
  margin-top: 10px;
}

.u-mtl {
  margin-top: 15px;
}

.u-mtl2 {
  margin-top: 20px;
}

.u-mtl3 {
  margin-top: 25px;
}

.u-mtl4 {
  margin-top: 30px;
}

.u-mtl5 {
  margin-top: 35px;
}

.u-mtl6 {
  margin-top: 40px;
}

.u-mt50 {
  margin-top: 50px;
}

.u-mt60 {
  margin-top: 60px;
}

.u-mt70 {
  margin-top: 70px;
}

.u-mt80 {
  margin-top: 80px;
}

.u-mrs {
  margin-right: 5px;
}

.u-mrm {
  margin-right: 10px;
}

.u-mrl {
  margin-right: 15px;
}

.u-mrl2 {
  margin-right: 20px;
}

.u-mrl3 {
  margin-right: 25px;
}

.u-mrl4 {
  margin-right: 30px;
}

.u-mrl5 {
  margin-right: 35px;
}

.u-mrl6 {
  margin-right: 40px;
}

.u-mr50 {
  margin-right: 50px;
}

.u-mr60 {
  margin-right: 60px;
}

.u-mr70 {
  margin-right: 70px;
}

.u-mr80 {
  margin-right: 80px;
}

.u-mbs {
  margin-bottom: 5px;
}

.u-mbm {
  margin-bottom: 10px;
}

.u-mbl {
  margin-bottom: 15px;
}

.u-mbl2 {
  margin-bottom: 20px;
}

.u-mbl3 {
  margin-bottom: 25px;
}

.u-mbl4 {
  margin-bottom: 30px;
}

.u-mbl5 {
  margin-bottom: 35px;
}

.u-mbl6 {
  margin-bottom: 40px;
}

.u-mb50 {
  margin-bottom: 50px;
}

.u-mb60 {
  margin-bottom: 60px;
}

.u-mb70 {
  margin-bottom: 70px;
}

.u-mb80 {
  margin-bottom: 80px;
}

.u-mls {
  margin-left: 5px;
}

.u-mlm {
  margin-left: 10px;
}

.u-mll {
  margin-left: 15px;
}

.u-mll2 {
  margin-left: 20px;
}

.u-mll3 {
  margin-left: 25px;
}

.u-mll4 {
  margin-left: 30px;
}

.u-mll5 {
  margin-left: 35px;
}

.u-mll6 {
  margin-left: 40px;
}

.u-ml50 {
  margin-left: 50px;
}

.u-ml60 {
  margin-left: 60px;
}

.u-ml70 {
  margin-left: 70px;
}

.u-ml80 {
  margin-left: 80px;
}

.u-mvs {
  margin-top: 5px;
  margin-bottom: 5px;
}

.u-mvm {
  margin-top: 10px;
  margin-bottom: 10px;
}

.u-mvl {
  margin-top: 15px;
  margin-bottom: 15px;
}

.u-mvl2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.u-mvl3 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.u-mvl4 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-mvl5 {
  margin-top: 35px;
  margin-bottom: 35px;
}

.u-mvl6 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.u-mv50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.u-mv60 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-mv70 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.u-mv80 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.u-mhs {
  margin-right: 5px;
  margin-left: 5px;
}

.u-mhm {
  margin-right: 10px;
  margin-left: 10px;
}

.u-mhl {
  margin-right: 15px;
  margin-left: 15px;
}

.u-mhl2 {
  margin-right: 20px;
  margin-left: 20px;
}

.u-mhl3 {
  margin-right: 25px;
  margin-left: 25px;
}

.u-mhl4 {
  margin-right: 30px;
  margin-left: 30px;
}

.u-mhl5 {
  margin-right: 35px;
  margin-left: 35px;
}

.u-mhl6 {
  margin-right: 40px;
  margin-left: 40px;
}

.u-mh50 {
  margin-right: 50px;
  margin-left: 50px;
}

.u-mh60 {
  margin-right: 60px;
  margin-left: 60px;
}

.u-mh70 {
  margin-right: 70px;
  margin-left: 70px;
}

.u-mh80 {
  margin-right: 80px;
  margin-left: 80px;
}

.u-mla {
  margin-left: auto;
}

.u-mra {
  margin-right: auto;
}

.u-ps {
  padding: 5px;
}

.u-pm {
  padding: 10px;
}

.u-pl {
  padding: 15px;
}

.u-pl2 {
  padding: 20px;
}

.u-pl3 {
  padding: 25px;
}

.u-pl4 {
  padding: 30px;
}

.u-pl4 {
  padding: 35px;
}

.u-pl4 {
  padding: 40px;
}

.u-p50 {
  padding: 50px;
}

.u-p60 {
  padding: 60px;
}

.u-p70 {
  padding: 70px;
}

.u-p80 {
  padding: 80px;
}

.u-pts {
  padding-top: 5px;
}

.u-ptm {
  padding-top: 10px;
}

.u-ptl {
  padding-top: 15px;
}

.u-ptl2 {
  padding-top: 20px;
}

.u-ptl3 {
  padding-top: 25px;
}

.u-ptl4 {
  padding-top: 30px;
}

.u-ptl5 {
  padding-top: 35px;
}

.u-ptl6 {
  padding-top: 40px;
}

.u-pt50 {
  padding-top: 50px;
}

.u-pt60 {
  padding-top: 60px;
}

.u-pt70 {
  padding-top: 70px;
}

.u-pt80 {
  padding-top: 80px;
}

.u-prs {
  padding-right: 5px;
}

.u-prm {
  padding-right: 10px;
}

.u-prl {
  padding-right: 15px;
}

.u-prl2 {
  padding-right: 20px;
}

.u-prl3 {
  padding-right: 25px;
}

.u-prl4 {
  padding-right: 30px;
}

.u-prl5 {
  padding-right: 35px;
}

.u-prl6 {
  padding-right: 40px;
}

.u-pr50 {
  padding-right: 50px;
}

.u-pr60 {
  padding-right: 60px;
}

.u-pr70 {
  padding-right: 70px;
}

.u-pr80 {
  padding-right: 80px;
}

.u-pbs {
  padding-bottom: 5px;
}

.u-pbm {
  padding-bottom: 10px;
}

.u-pbl {
  padding-bottom: 15px;
}

.u-pbl2 {
  padding-bottom: 20px;
}

.u-pbl3 {
  padding-bottom: 25px;
}

.u-pbl4 {
  padding-bottom: 30px;
}

.u-pbl5 {
  padding-bottom: 35px;
}

.u-pbl6 {
  padding-bottom: 40px;
}

.u-pb50 {
  padding-bottom: 50px;
}

.u-pb60 {
  padding-bottom: 60px;
}

.u-pb70 {
  padding-bottom: 70px;
}

.u-pb80 {
  padding-bottom: 80px;
}

.u-pls {
  padding-left: 5px;
}

.u-plm {
  padding-left: 10px;
}

.u-pll {
  padding-left: 15px;
}

.u-pll2 {
  padding-left: 20px;
}

.u-pll3 {
  padding-left: 25px;
}

.u-pll4 {
  padding-left: 30px;
}

.u-pll5 {
  padding-left: 35px;
}

.u-pll6 {
  padding-left: 40px;
}

.u-pl50 {
  padding-left: 50px;
}

.u-pl60 {
  padding-left: 60px;
}

.u-pl70 {
  padding-left: 70px;
}

.u-pl80 {
  padding-left: 80px;
}

.u-pvs {
  padding-top: 5px;
  padding-bottom: 5px;
}

.u-pvm {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-pvl {
  padding-top: 15px;
  padding-bottom: 15px;
}

.u-pvl2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-pvl3 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.u-pvl4 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.u-pvl5 {
  padding-top: 35px;
  padding-bottom: 35px;
}

.u-pvl6 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.u-pv50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.u-pv60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.u-pv70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.u-pv80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.u-phs {
  padding-right: 5px;
  padding-left: 5px;
}

.u-phm {
  padding-right: 10px;
  padding-left: 10px;
}

.u-phl {
  padding-right: 15px;
  padding-left: 15px;
}

.u-phl3 {
  padding-right: 25px;
  padding-left: 25px;
}

.u-phl4 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-phl5 {
  padding-right: 35px;
  padding-left: 35px;
}

.u-phl6 {
  padding-right: 40px;
  padding-left: 40px;
}

.u-ph50 {
  padding-right: 50px;
  padding-left: 50px;
}

.u-ph60 {
  padding-right: 60px;
  padding-left: 60px;
}

.u-ph70 {
  padding-right: 70px;
  padding-left: 70px;
}

.u-ph80 {
  padding-right: 80px;
  padding-left: 80px;
}

.u-clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.u-relative {
  position: relative;
}

.u-center {
  text-align: center;
}

.u-right {
  text-align: right;
}

.u-fw-bold {
  font-weight: bold;
}

.u-fw-normal {
  font-weight: normal;
}

.u-fs-18 {
  font-size: 28.8px;
  font-size: 1.8rem;
}

.u-fs-16 {
  font-size: 25.6px;
  font-size: 1.6rem;
}

.u-fs-15 {
  font-size: 24px;
  font-size: 1.5rem;
}

.u-fs-14 {
  font-size: 22.4px;
  font-size: 1.4rem;
}

.u-fs-13 {
  font-size: 20.8px;
  font-size: 1.3rem;
}

.u-fs-12 {
  font-size: 19.2px;
  font-size: 1.2rem;
}

.u-fs-11 {
  font-size: 17.6px;
  font-size: 1.1rem;
}

.u-fs-10 {
  font-size: 16px;
  font-size: 1.0rem;
}

.u-fs-9 {
  font-size: 14.4px;
  font-size: 0.9rem;
}

.u-fs-0 {
  font-size: 0px;
}

.u-d-block {
  display: block;
}

.u-d-none {
  display: none;
}

.u-width-100per {
  width: 100%;
}

.u-flex-h {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.u-flex-v {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.u-flex-v--center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.u-flex-h--center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.u-flex--fill {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.u-flex-h--justify {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.u-color-white {
  color: #fff;
}
